/* Color variables */
$color-primary: #000000;
$color-primary-dark: #1A1A1A;
$color-primary-text: #212121;
$color-accent: #10DB85;
$color-primary-light: #F4F5F5;
$color-divider: #E0E0E0; 
$color-light-box: #E7E8E8;
$color-secondary-text: #757575;