.header {
    margin: 5vh 0 5vh 0;
}

.collaborators {
    text-align: center;
    margin: 5vh 0 5vh 0;
}

.about {
    margin: 5vh 0 5vh 0;
    .image-col {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0;
        .avatar {
            border-radius: 50%;
            width: 20vh;
            height: 20vh;
            object-fit: cover;
        }
        .mobile-avatar {
          margin-bottom: 3vh;
        }
    }
    .content-col {
        padding-left: 5vh;
        label {
          margin: 0;
        }
    }
    .twitter-handle {
        a {
          color: #0ECC7C;
        }
    }
}

.about-mobile {
  margin: 0 0 2vh 0;
}

.logo {
  display: flex;
  justify-content: center;
  opacity: 0.8;
  width: 4vh;
}