@import "../theme/_variables.scss";

.header-row {
  margin: 1rem 0 1rem 0;

  .menu-icon {
    position: absolute;
    left: 1vh;
    top: 1.5vh;
    z-index: 1;
  }

  .input-container {
    display: flex;
    width: 100%;

    .input-icon {
      position: relative;
      right: 5.5vh;
      width: 2vh;
    }
    .nav-search {
      margin-right: 1.3rem;
      margin-left: 3vh;
      border-radius: 3px;
      border: none;
      height: 2.5rem;
      width: 20rem;
      padding: 1vh;
      padding-right: 5vh;
      outline: none !important;
      background: url("../assets/icon/search.svg") no-repeat right 2vh center,
        #f4f5f5;
      background-size: 2vh;
    }
    .nav-search::-webkit-input-placeholder {
      color: black;
    }
    .nav-search::-moz-placeholder {
      color: black;
    }
    .nav-search:-ms-input-placeholder {
      color: black;
    }
    .nav-search:-moz-placeholder {
      color: black;
    }
  }

  .nav-list {
    li {
      align-self: center;
      margin-left: 5vh;
    }

    ul {
      padding: 0;
    }

    display: flex;
    list-style-type: none;
    justify-content: flex-end;

    .nav-button {
      height: 2.5rem;
      width: 9rem;
      border-radius: 3px;
      background-color: $color-accent;
      border: none;
      color: white;
    }

    .nav-item {
      margin-right: 1.3rem;
      text-decoration: none;
      color: $color-primary-text;
      font-family: Noto Serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.01em;
    }

    .nav-item:hover {
      color: #666666;
    }

    .active-nav-item {
      color: #333333;
    }
  }

  .nav-mobile {
    justify-content: space-between;
    li {
      margin: 0;
    }
  }
}
