@import "../theme/_variables.scss";

.sidebar {
    background-color: $color-primary;
    padding: 0;
    height: 100%;
}

.row {
    height: 100%;
}

.container {
    height: 100%;
}

.nav {
    margin-left: 2vh;
}

.hidden {
    visibility: hidden;
}

.rotated {
    transform: rotate(180deg);
}


.hide-button {
    position: fixed;
    top: 0;
    cursor: pointer;
    visibility: initial;
    height: 2rem;
    width: 2rem;
    background-color: #F1F2F2;
    color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}