@import "../theme/_variables.scss";

.sidebar {
    background-color: $color-primary;
    padding: 0;
}

.row {
    height: 100%;
}

.container {
    height: 100%;
}

.nav {
    margin-left: 2vh;
}

.hidden {
    visibility: hidden;
}

