@import "../theme/_variables.scss";


.container {
    border-top: solid 1px $color-divider;
    border-bottom: solid 1px $color-divider;
    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        letter-spacing: -0.02em;
        color: $color-primary-text;
        margin-bottom: 1vh;
    }
    
    .row {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    .date {
        font-size: 12px;
        letter-spacing: 0.01em;
        color: $color-accent;
        margin-bottom: 1vh;
    }
    
    .post-type {
        display: flex;
        align-items: baseline;
        margin-right: 2vh;
        .title {
            font-size: 12px;
            letter-spacing: 0.01em;
            color: $color-secondary-text;
        }
        img {
            margin-right: 1vh;
        }
    }
    
    .content-preview {
        font-family: PT Serif;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: $color-secondary-text;
    }
    
    .tags {
        display: flex;
        flex-direction: row;
        .tag {
            border-radius: 10vh;
            background-color: $color-primary-light;
            padding: 1vh 2vh 1vh 2vh;
            margin-right: 2vh;
        }
    }
    
    .image-col {
        display: flex;
        justify-content: flex-end;
        img {
            width: 30vh;
            height: 30vh;
            object-fit: cover;
        }
    }
}

.extended-container {
    margin-bottom: 10rem;
    .title {
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        letter-spacing: -0.02em;
        color: $color-primary-text;
        margin-bottom: 1vh;
    }
    
    .row {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    
    .date {
        font-size: 12px;
        letter-spacing: 0.01em;
        color: $color-accent;
        margin-bottom: 1vh;
    }
    
    .post-type {
        display: flex;
        align-items: baseline;
        margin-right: 2vh;
        .title {
            font-size: 12px;
            letter-spacing: 0.01em;
            color: $color-secondary-text;
        }
        img {
            margin-right: 1vh;
        }
    }
    
    .content-preview {
        font-family: PT Serif;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: $color-secondary-text;
    }
    
    .tags {
        display: flex;
        flex-direction: row;
        .tag {
            border-radius: 10vh;
            background-color: $color-primary-light;
            padding: 1vh 2vh 1vh 2vh;
            margin-right: 2vh;
        }
    }
    
    .image-col {
        display: flex;
        justify-content: flex-start;
        img {
            width: 35vh;
            height: 35vh;
            object-fit: cover;
        }
    }
}

