@import "../../theme/_variables.scss";

.extended-input-container {
  display: flex;
  width: 100%;
  justify-content: center;

  .extended-searchbar {
    background: url("../../assets/icon/search.svg") no-repeat right 2vh center;
    font-size: 2rem;
    margin-top: 4rem;
    border-radius: 3px;
    border: none;
    background-color: #e4e4e4;
    height: 4rem;
    width: 80%;
    padding: 4vh;
    font-weight: 300;
    outline: none !important;
    margin-bottom: 2vh;
  }

  .searchbar-mobile {
    margin-top: 1rem;
    width: 100%;
    background-size: 2.5vh;
    font-weight: 400;
  }

  .extended-searchbar::-webkit-input-placeholder {
    color: black;
  }
  .extended-searchbar::-moz-placeholder {
    color: black;
  }
  .extended-searchbar:-ms-input-placeholder {
    color: black;
  }
  .extended-searchbar:-moz-placeholder {
    color: black;
  }
}

.tags {
  margin-top: 1vh;
  text-align: center;
  .tag-container {
    display: inline-block;
  }
  .tag {
    border-radius: 10vh;
    border: none;
    background-color: #f1f2f2;
    color: black;
    text-transform: Capitalize;
    padding: 0.5vh 4vh 0.5vh 2vh;
    margin: 0 1vh 1vh 0;
  }

  .tag:focus {
    outline: 0 !important;
    background-color: rgb(196, 196, 196);
  }

  .active-tag {
    background-color: black;
    color: white;
  }

  .active-tag:focus {
    background-color: black;
  }

  .delete-tag {
    margin-left: 1vh;
    position: absolute;
    cursor: pointer;
  }

  .add-tag {
    transform: rotate(45deg);
    margin-left: 1vh;
    position: absolute;
    cursor: pointer;
  }
}

.more-tags {
  border-bottom: solid 1px #e0e0e0;
  padding-top: 1vh;
  padding-bottom: 4rem;
  small {
    cursor: pointer;
    color: #bdbdbd;
  }
}

.more-tags-mobile {
  padding-bottom: 1vh;
}
