@import "../../theme/_variables.scss";

.tags {
    display: inline-block;
    .tag {
        text-transform: capitalize;
        cursor: pointer;
        border-radius: 10vh;
        background-color: $color-primary-light;
        padding: .5vh 1.5vh .5vh 1.5vh;
        margin-right: 2vh;
        margin-top: 2vh;
        color: $color-primary-text;
        display: inline-block;
    }
}