@import "../../theme/_variables.scss";

.container {
    background-color: $color-accent;
    border-radius: 4px;

    .row {
        display: flex;
        justify-content: center;
        padding: 5vh 10vh 5vh 10vh;
    }

    .title {
        font-weight: 500;
        font-size: 24px;
        color: white;
        letter-spacing: -0.02em;
    }

    .subtitle {
        font-family: PT Serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: white;
    }

    .email {
        outline: 0;
        border: none;
        background-color: #0ECC7C;;
        padding: 1vh 3vh 1vh 3vh;
        height: 3.5rem;
        width: 25rem;
        border-radius: 4px;
        color: white;
    }
    
    .email::-webkit-input-placeholder { 
        font-size: 18px;
        letter-spacing: 0.01em;
        color: white;
    }
    .email::-moz-placeholder { 
        font-size: 18px;
        letter-spacing: 0.01em;
        color: white;
    }
    .email:-ms-input-placeholder { 
        font-size: 18px;
        letter-spacing: 0.01em;
        color: white;
    }
    .email:-moz-placeholder { 
        font-size: 18px;
        letter-spacing: 0.01em;
        color: white;
    }

    .input-container {
        display: flex;
    }

    .input-icon {
        position: relative;
        right: 4vh;
        width: 2.5vh;
    }
}